[save]

Species: RCO TRO IND ENE AGS

Date_beg: -1 # Put -1 to start from the simulation initial date.
Date_end: -1 # Put -1 to end at the simulation final date.
Interval_length: 12 # 1 for all steps.
Averaged: yes
# Save initial concentrations in case concentrations are not averaged?
Initial_concentration: no

# Choices: point_list, boundaries, domain, subdomain.
Type: domain

# 0 is ground level.
Levels: 0

Output_file: results/&f.bin



